body {
  margin: 0;
  font-family:
    sans-serif;
    text-align: justify;
  background-color: teal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
